
.slidedown-animate-enter-active{
    animation: slideOutDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 300ms; /* don't forget to set a duration! */
    --animate-delay: .3s;
}

.slidedown-animate-animate-leave-to {
    animation: slideInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: .3s; /* don't forget to set a duration! */
}

.fade-animate-enter-active{
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 400ms; /* don't forget to set a duration! */
    --animate-delay: .3s;
}

.fade-animate-leave-to {
    animation: fadeOut; /* referring directly to the animation's @keyframe declaration */
    animation-duration: .3s; /* don't forget to set a duration! */
}


.slideleft-animate-enter-active{
    animation: slideInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 300ms; /* don't forget to set a duration! */
    // --animate-delay: .3s;
}

.slideleft-animate-leave-to {
    animation: slideOutLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: .3s; /* don't forget to set a duration! */
}



.slide-animate-enter-active{
    animation: slideInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 200ms; /* don't forget to set a duration! */
    // --animate-delay: .2s;
}

.slide-animate-leave-to {
    animation: slideOutDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: .2s; /* don't forget to set a duration! */
}

.slide2-animate-enter-active{
    animation: slideInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: .1s; /* don't forget to set a duration! */
    // --animate-delay: .2s;
}

.slide2-animate-leave-to {
    animation: slideOutDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: .1s; /* don't forget to set a duration! */
}



.modal-animate-enter-active{
    animation: slideInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 300ms; /* don't forget to set a duration! */
    --animate-delay: .3s;
}

.modal-animate-leave-to {
    animation: slideOutDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: .3s; /* don't forget to set a duration! */
}

.modal-slideRight-enter-active{
    animation: slideInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 300ms; /* don't forget to set a duration! */
    --animate-delay: .1s;
}

.modal-slideRight-leave-to {
    animation: slideOutRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 300ms; /* don't forget to set a duration! */
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

